In [1]:
from autofeat import AutoFeatClassifier
import pandas as pd
import numpy as np

In [2]:
steps = 2

In [3]:
df_train = pd.read_csv("../Data/dt_realestate_train_2022.csv")
df_test = pd.read_csv("../Data/dt_realestate_test_2022.csv")

In [4]:
df_train.iloc[:,3] = df_train.iloc[:,3].astype(object)
df_test.iloc[:,2] = df_test.iloc[:,2].astype(object)

In [5]:
numeric_columns = df_train.select_dtypes(include=np.number).columns.tolist()
numeric_columns.remove('id')

In [6]:
others = [x for x in list(df_train.columns) if not x in numeric_columns or numeric_columns.remove(x)]

In [7]:
numeric_columns = df_train.select_dtypes(include=np.number).columns.tolist()
numeric_columns.remove('id')

In [8]:
df_train.loc[:,df_train.select_dtypes(include=np.number).columns.tolist()] = df_train.loc[:,df_train.select_dtypes(include=np.number).columns.tolist()].apply(pd.to_numeric, downcast='integer')
df_test.loc[:,df_test.select_dtypes(include=np.number).columns.tolist()] = df_test.loc[:,df_test.select_dtypes(include=np.number).columns.tolist()].apply(pd.to_numeric, downcast='integer')

In [9]:
clf = AutoFeatClassifier(verbose=1, feateng_steps=steps, featsel_runs=5, transformations=('sqrt', '^2', '^3'), n_jobs=5)

In [10]:
df_train

,id,price_category,year,zipcode,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,...,flg_missing_living_area,flg_missing_other_area,flg_missing_total_area,flg_missing_monthly_contrib,flg_missing_n_photos,flg_missing_n_photos_360,flg_missing_type_of_construction,flg_missing_other_indoor_space,flg_missing_located_on,flg_missing_own_ground
0,1,200K-300K,1930,3043,5,4,0,130,0.0,0,...,0,1,1,1,0,1,0,1,1,0
1,2,< 100K,1956,3081,0,0,5,0,0.0,0,...,1,1,1,1,1,1,0,1,1,1
2,3,> 300K,0,3016,4,3,6,182,34.0,0,...,0,0,1,0,0,0,0,1,0,1
3,4,100K-150K,1965,3076,3,2,0,85,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4,5,200K-300K,1996,3071,3,2,0,100,0.0,0,...,0,1,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,6106,> 300K,2003,3061,5,3,0,146,3.0,0,...,0,0,1,1,0,1,0,0,1,0
4884,6107,100K-150K,1981,3033,2,1,0,63,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4885,6108,100K-150K,1950,3028,3,2,0,52,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4886,6109,200K-300K,2002,3077,0,0,24,0,0.0,0,...,1,1,1,1,1,1,0,1,1,1
4887,6110,< 100K,1937,3028,3,2,0,83,0.0,0,...,0,1,1,0,0,1,0,1,0,0

In [11]:
df_test

,id,year,zipcode,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,monthly_contrib,...,flg_missing_living_area,flg_missing_other_area,flg_missing_total_area,flg_missing_monthly_contrib,flg_missing_n_photos,flg_missing_n_photos_360,flg_missing_type_of_construction,flg_missing_other_indoor_space,flg_missing_located_on,flg_missing_own_ground
0,5554,1935,3039,3,2,0,78,0,0,131,...,0,1,1,0,0,1,0,1,0,0
1,2945,1981,3014,2,1,16,75,4,0,152,...,0,0,1,0,0,1,0,1,0,0
2,1546,1939,3039,4,3,3,93,11,0,99,...,0,0,1,0,0,1,0,1,0,1
3,4449,1969,3068,5,4,8,104,20,0,0,...,0,0,1,1,0,1,0,0,1,0
4,1012,2016,3053,5,4,24,219,0,0,0,...,0,1,1,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,5700,1950,3082,5,3,0,100,8,0,0,...,0,0,1,1,0,1,0,1,0,0
1218,3259,1996,3073,3,2,24,70,4,0,0,...,0,0,1,1,0,1,0,1,1,1
1219,3446,1989,3079,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
1220,4175,1956,3086,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
1221,3562,1950,3028,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1

In [12]:
df_train_new = clf.fit_transform(df_train.loc[:,numeric_columns], df_train.iloc[:,1])

[AutoFeat] The 2 step feature engineering process could generate up to 3321 features.
[AutoFeat] With 4888 data points this new feature matrix would use about 0.06 gb of space.
[feateng] Step 1: transformation of original features
[feateng] Generated 36 transformed features from 27 original features - done.
[feateng] Step 2: first combination of features
[feateng] Generated 1795 feature combinations from 1953 original feature tuples - done.
[feateng] Generated altogether 1977 new features in 2 steps
[feateng] Removing correlated features, as well as additions at the highest level
[feateng] Generated a total of 1439 additional features
[featsel] Scaling data...done.
[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done   1 tasks      | elapsed: 114.5min
[Parallel(n_jobs=5)]: Done   2 out of   5 | elapsed: 114.5min remaining: 171.8min
[Parallel(n_jobs=5)]: Done   3 out of   5 | elapsed: 114.6min remaining: 76.4min
[Parallel(n_jobs=5)]: Done   5 out of   5 | elapsed: 115.2min remaining:    0.0s
[Parallel(n_jobs=5)]: Done   5 out of   5 | elapsed: 115.2min finished
[featsel] 52 features after 5 feature selection runs
[featsel] 33 features after correlation filtering
[featsel] 32 features after noise filtering
[AutoFeat] Computing 28 new features.
[AutoFeat]    28/   28 new features ...done.
[AutoFeat] Final dataframe with 55 feature columns (28 new).
[AutoFeat] Training final classification model.
[AutoFeat] Trained model: largest coefficients:
[ 1.41961788e-17  2.64886656e-18 -9.92592091e-18  2.51782486e-17
 -3.20973731e-17]
[AutoFeat] Final score: 0.2160

In [13]:
df_train_new = df_train_new.join(df_train.loc[:,others])

In [14]:
others.remove('price_category')

In [15]:
df_test_new = clf.transform(df_test.loc[:,numeric_columns])

[AutoFeat] Computing 28 new features.
[AutoFeat]    28/   28 new features ...done.

In [16]:
df_test_new = df_test_new.join(df_test.loc[:,others])

In [17]:
df_train_new

,year,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,monthly_contrib,n_photos,n_photos_360,...,flg_missing_living_area*year**3,flg_missing_own_ground*n_photos,flg_missing_other_area*living_area,flg_missing_n_photos*living_area**3,flg_missing_n_photos_360*flg_missing_other_indoor_space,id,price_category,zipcode,type_of_construction,energy_label
0,1930.0,5.0,4.0,0.0,130.0,0.0,0.0,0.0,14.0,0.0,...,0.000000e+00,0.0,130.0,0.0,1.0,1,200K-300K,3043,Bestaande bouw,E
1,1956.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.483531e+09,0.0,0.0,0.0,1.0,2,< 100K,3081,Bestaande bouw,G
2,0.0,4.0,3.0,6.0,182.0,34.0,0.0,391.0,37.0,12.0,...,0.000000e+00,37.0,0.0,0.0,0.0,3,> 300K,3016,Bestaande bouw,B
3,1965.0,3.0,2.0,0.0,85.0,0.0,0.0,125.0,16.0,0.0,...,0.000000e+00,0.0,85.0,0.0,1.0,4,100K-150K,3076,Bestaande bouw,F
4,1996.0,3.0,2.0,0.0,100.0,0.0,0.0,141.0,19.0,0.0,...,0.000000e+00,0.0,100.0,0.0,1.0,5,200K-300K,3071,Bestaande bouw,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,2003.0,5.0,3.0,0.0,146.0,3.0,0.0,0.0,21.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,6106,> 300K,3061,Bestaande bouw,B
4884,1981.0,2.0,1.0,0.0,63.0,0.0,0.0,209.0,12.0,0.0,...,0.000000e+00,0.0,63.0,0.0,1.0,6107,100K-150K,3033,Bestaande bouw,B
4885,1950.0,3.0,2.0,0.0,52.0,0.0,0.0,67.0,25.0,0.0,...,0.000000e+00,0.0,52.0,0.0,1.0,6108,100K-150K,3028,Bestaande bouw,D
4886,2002.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.024024e+09,0.0,0.0,0.0,1.0,6109,200K-300K,3077,Bestaande bouw,B
4887,1937.0,3.0,2.0,0.0,83.0,0.0,0.0,80.0,21.0,0.0,...,0.000000e+00,0.0,83.0,0.0,1.0,6110,< 100K,3028,Bestaande bouw,D

In [18]:
df_test_new

,year,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,monthly_contrib,n_photos,n_photos_360,...,flg_missing_other_area*living_area**2,flg_missing_living_area*year**3,flg_missing_own_ground*n_photos,flg_missing_other_area*living_area,flg_missing_n_photos*living_area**3,flg_missing_n_photos_360*flg_missing_other_indoor_space,id,zipcode,type_of_construction,energy_label
0,1935,3,2,0,78,0,0,131,26,0,...,6084.0,0.000000e+00,0.0,78.0,0.0,1.0,5554,3039,Bestaande bouw,n
1,1981,2,1,16,75,4,0,152,15,0,...,0.0,0.000000e+00,0.0,0.0,0.0,1.0,2945,3014,Bestaande bouw,n
2,1939,4,3,3,93,11,0,99,20,0,...,0.0,0.000000e+00,20.0,0.0,0.0,1.0,1546,3039,Bestaande bouw,E
3,1969,5,4,8,104,20,0,0,26,0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,4449,3068,Bestaande bouw,F
4,2016,5,4,24,219,0,0,0,23,0,...,47961.0,0.000000e+00,23.0,219.0,0.0,1.0,1012,3053,Nieuwbouw,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,1950,5,3,0,100,8,0,0,24,0,...,0.0,0.000000e+00,0.0,0.0,0.0,1.0,5700,3082,Bestaande bouw,E
1218,1996,3,2,24,70,4,0,0,14,0,...,0.0,0.000000e+00,14.0,0.0,0.0,1.0,3259,3073,Bestaande bouw,C
1219,1989,0,0,24,0,0,0,0,0,0,...,0.0,7.868725e+09,0.0,0.0,0.0,1.0,3446,3079,Bestaande bouw,C
1220,1956,0,0,24,0,0,0,0,0,0,...,0.0,7.483531e+09,0.0,0.0,0.0,1.0,4175,3086,Bestaande bouw,E
1221,1950,0,0,24,0,0,0,0,0,0,...,0.0,7.414875e+09,0.0,0.0,0.0,1.0,3562,3028,Bestaande bouw,E

In [19]:
df_train_new.to_csv(f"../Data/dt_realestate_train_2022_autofeat_{steps}.csv", index=False)
df_test_new.to_csv(f"../Data/dt_realestate_test_2022_autofeat_{steps}.csv", index=False)