In [1]:
from autofeat import FeatureSelector
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../Data/dt_realestate_train_2022.csv")

In [3]:
df_test = pd.read_csv("../Data/dt_realestate_test_2022.csv")

In [4]:
df

,id,price_category,year,zipcode,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,...,flg_missing_living_area,flg_missing_other_area,flg_missing_total_area,flg_missing_monthly_contrib,flg_missing_n_photos,flg_missing_n_photos_360,flg_missing_type_of_construction,flg_missing_other_indoor_space,flg_missing_located_on,flg_missing_own_ground
0,1,200K-300K,1930,3043,5,4,0,130,0.0,0,...,0,1,1,1,0,1,0,1,1,0
1,2,< 100K,1956,3081,0,0,5,0,0.0,0,...,1,1,1,1,1,1,0,1,1,1
2,3,> 300K,0,3016,4,3,6,182,34.0,0,...,0,0,1,0,0,0,0,1,0,1
3,4,100K-150K,1965,3076,3,2,0,85,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4,5,200K-300K,1996,3071,3,2,0,100,0.0,0,...,0,1,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,6106,> 300K,2003,3061,5,3,0,146,3.0,0,...,0,0,1,1,0,1,0,0,1,0
4884,6107,100K-150K,1981,3033,2,1,0,63,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4885,6108,100K-150K,1950,3028,3,2,0,52,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4886,6109,200K-300K,2002,3077,0,0,24,0,0.0,0,...,1,1,1,1,1,1,0,1,1,1
4887,6110,< 100K,1937,3028,3,2,0,83,0.0,0,...,0,1,1,0,0,1,0,1,0,0

In [5]:
df_test

,id,year,zipcode,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,monthly_contrib,...,flg_missing_living_area,flg_missing_other_area,flg_missing_total_area,flg_missing_monthly_contrib,flg_missing_n_photos,flg_missing_n_photos_360,flg_missing_type_of_construction,flg_missing_other_indoor_space,flg_missing_located_on,flg_missing_own_ground
0,5554,1935,3039,3,2,0,78,0,0,131,...,0,1,1,0,0,1,0,1,0,0
1,2945,1981,3014,2,1,16,75,4,0,152,...,0,0,1,0,0,1,0,1,0,0
2,1546,1939,3039,4,3,3,93,11,0,99,...,0,0,1,0,0,1,0,1,0,1
3,4449,1969,3068,5,4,8,104,20,0,0,...,0,0,1,1,0,1,0,0,1,0
4,1012,2016,3053,5,4,24,219,0,0,0,...,0,1,1,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,5700,1950,3082,5,3,0,100,8,0,0,...,0,0,1,1,0,1,0,1,0,0
1218,3259,1996,3073,3,2,24,70,4,0,0,...,0,0,1,1,0,1,0,1,1,1
1219,3446,1989,3079,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
1220,4175,1956,3086,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
1221,3562,1950,3028,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 32 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                4888 non-null   int64
 1   price_category                    4888 non-null   object
 2   year                              4888 non-null   int64
 3   zipcode                           4888 non-null   int64
 4   total_rooms                       4888 non-null   int64
 5   bedrooms                          4888 non-null   int64
 6   n_weeks_old                       4888 non-null   int64
 7   living_area                       4888 non-null   int64
 8   other_area                        4888 non-null   float64
 9   total_area                        4888 non-null   int64
 10  monthly_contrib                   4888 non-null   int64
 11  n_photos                          4888 non-null   int64
 12  n_photos_360                      4888 non-null   int64
 13  type_of_construction              4888 non-null   object
 14  other_indoor_space                4888 non-null   int64
 15  energy_label                      4888 non-null   object
 16  located_on                        4888 non-null   int64
 17  own_ground                        4888 non-null   int64
 18  flg_missing_year                  4888 non-null   int64
 19  flg_missing_total_rooms           4888 non-null   int64
 20  flg_missing_bedrooms              4888 non-null   int64
 21  flg_missing_n_weeks_old           4888 non-null   int64
 22  flg_missing_living_area           4888 non-null   int64
 23  flg_missing_other_area            4888 non-null   int64
 24  flg_missing_total_area            4888 non-null   int64
 25  flg_missing_monthly_contrib       4888 non-null   int64
 26  flg_missing_n_photos              4888 non-null   int64
 27  flg_missing_n_photos_360          4888 non-null   int64
 28  flg_missing_type_of_construction  4888 non-null   int64
 29  flg_missing_other_indoor_space    4888 non-null   int64
 30  flg_missing_located_on            4888 non-null   int64
 31  flg_missing_own_ground            4888 non-null   int64
dtypes: float64(1), int64(28), object(3)
memory usage: 1.2+ MB

In [8]:
df.iloc[:,3] = df.iloc[:,3].astype(object)
df_test.iloc[:,2] = df_test.iloc[:,2].astype(object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 32 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                4888 non-null   int64
 1   price_category                    4888 non-null   object
 2   year                              4888 non-null   int64
 3   zipcode                           4888 non-null   object
 4   total_rooms                       4888 non-null   int64
 5   bedrooms                          4888 non-null   int64
 6   n_weeks_old                       4888 non-null   int64
 7   living_area                       4888 non-null   int64
 8   other_area                        4888 non-null   float64
 9   total_area                        4888 non-null   int64
 10  monthly_contrib                   4888 non-null   int64
 11  n_photos                          4888 non-null   int64
 12  n_photos_360                      4888 non-null   int64
 13  type_of_construction              4888 non-null   object
 14  other_indoor_space                4888 non-null   int64
 15  energy_label                      4888 non-null   object
 16  located_on                        4888 non-null   int64
 17  own_ground                        4888 non-null   int64
 18  flg_missing_year                  4888 non-null   int64
 19  flg_missing_total_rooms           4888 non-null   int64
 20  flg_missing_bedrooms              4888 non-null   int64
 21  flg_missing_n_weeks_old           4888 non-null   int64
 22  flg_missing_living_area           4888 non-null   int64
 23  flg_missing_other_area            4888 non-null   int64
 24  flg_missing_total_area            4888 non-null   int64
 25  flg_missing_monthly_contrib       4888 non-null   int64
 26  flg_missing_n_photos              4888 non-null   int64
 27  flg_missing_n_photos_360          4888 non-null   int64
 28  flg_missing_type_of_construction  4888 non-null   int64
 29  flg_missing_other_indoor_space    4888 non-null   int64
 30  flg_missing_located_on            4888 non-null   int64
 31  flg_missing_own_ground            4888 non-null   int64
dtypes: float64(1), int64(27), object(4)
memory usage: 1.2+ MB

In [10]:
numeric_columns = df.select_dtypes(include=np.number).columns.tolist()
numeric_columns.remove('id')

In [11]:
numeric_columns

['year',
 'total_rooms',
 'bedrooms',
 'n_weeks_old',
 'living_area',
 'other_area',
 'total_area',
 'monthly_contrib',
 'n_photos',
 'n_photos_360',
 'other_indoor_space',
 'located_on',
 'own_ground',
 'flg_missing_year',
 'flg_missing_total_rooms',
 'flg_missing_bedrooms',
 'flg_missing_n_weeks_old',
 'flg_missing_living_area',
 'flg_missing_other_area',
 'flg_missing_total_area',
 'flg_missing_monthly_contrib',
 'flg_missing_n_photos',
 'flg_missing_n_photos_360',
 'flg_missing_type_of_construction',
 'flg_missing_other_indoor_space',
 'flg_missing_located_on',
 'flg_missing_own_ground']

In [12]:
list(df.columns)

['id',
 'price_category',
 'year',
 'zipcode',
 'total_rooms',
 'bedrooms',
 'n_weeks_old',
 'living_area',
 'other_area',
 'total_area',
 'monthly_contrib',
 'n_photos',
 'n_photos_360',
 'type_of_construction',
 'other_indoor_space',
 'energy_label',
 'located_on',
 'own_ground',
 'flg_missing_year',
 'flg_missing_total_rooms',
 'flg_missing_bedrooms',
 'flg_missing_n_weeks_old',
 'flg_missing_living_area',
 'flg_missing_other_area',
 'flg_missing_total_area',
 'flg_missing_monthly_contrib',
 'flg_missing_n_photos',
 'flg_missing_n_photos_360',
 'flg_missing_type_of_construction',
 'flg_missing_other_indoor_space',
 'flg_missing_located_on',
 'flg_missing_own_ground']

In [13]:
others = [x for x in list(df.columns) if not x in numeric_columns or numeric_columns.remove(x)]

In [14]:
others

['id', 'price_category', 'zipcode', 'type_of_construction', 'energy_label']

In [16]:
numeric_columns = df.select_dtypes(include=np.number).columns.tolist()
numeric_columns.remove('id')

In [17]:
numeric_columns

['year',
 'total_rooms',
 'bedrooms',
 'n_weeks_old',
 'living_area',
 'other_area',
 'total_area',
 'monthly_contrib',
 'n_photos',
 'n_photos_360',
 'other_indoor_space',
 'located_on',
 'own_ground',
 'flg_missing_year',
 'flg_missing_total_rooms',
 'flg_missing_bedrooms',
 'flg_missing_n_weeks_old',
 'flg_missing_living_area',
 'flg_missing_other_area',
 'flg_missing_total_area',
 'flg_missing_monthly_contrib',
 'flg_missing_n_photos',
 'flg_missing_n_photos_360',
 'flg_missing_type_of_construction',
 'flg_missing_other_indoor_space',
 'flg_missing_located_on',
 'flg_missing_own_ground']

In [18]:
df.loc[:,df.select_dtypes(include=np.number).columns.tolist()] = df.loc[:,df.select_dtypes(include=np.number).columns.tolist()].apply(pd.to_numeric, downcast='integer')

In [19]:
df_test.loc[:,df_test.select_dtypes(include=np.number).columns.tolist()] = df_test.loc[:,df_test.select_dtypes(include=np.number).columns.tolist()].apply(pd.to_numeric, downcast='integer')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 32 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                4888 non-null   int16
 1   price_category                    4888 non-null   object
 2   year                              4888 non-null   int16
 3   zipcode                           4888 non-null   object
 4   total_rooms                       4888 non-null   int8
 5   bedrooms                          4888 non-null   int8
 6   n_weeks_old                       4888 non-null   int8
 7   living_area                       4888 non-null   int16
 8   other_area                        4888 non-null   float64
 9   total_area                        4888 non-null   int16
 10  monthly_contrib                   4888 non-null   int16
 11  n_photos                          4888 non-null   int8
 12  n_photos_360                      4888 non-null   int8
 13  type_of_construction              4888 non-null   object
 14  other_indoor_space                4888 non-null   int16
 15  energy_label                      4888 non-null   object
 16  located_on                        4888 non-null   int8
 17  own_ground                        4888 non-null   int8
 18  flg_missing_year                  4888 non-null   int8
 19  flg_missing_total_rooms           4888 non-null   int8
 20  flg_missing_bedrooms              4888 non-null   int8
 21  flg_missing_n_weeks_old           4888 non-null   int8
 22  flg_missing_living_area           4888 non-null   int8
 23  flg_missing_other_area            4888 non-null   int8
 24  flg_missing_total_area            4888 non-null   int8
 25  flg_missing_monthly_contrib       4888 non-null   int8
 26  flg_missing_n_photos              4888 non-null   int8
 27  flg_missing_n_photos_360          4888 non-null   int8
 28  flg_missing_type_of_construction  4888 non-null   int8
 29  flg_missing_other_indoor_space    4888 non-null   int8
 30  flg_missing_located_on            4888 non-null   int8
 31  flg_missing_own_ground            4888 non-null   int8
dtypes: float64(1), int16(6), int8(21), object(4)
memory usage: 348.6+ KB

In [21]:
price_map = {"< 100K": 100, "100K-150K": 125, "150K-200K": 175, "200K-300K": 250, "> 300K": 300}

In [22]:
df.iloc[:,1] = df.iloc[:,1].map(price_map)

In [23]:
df

,id,price_category,year,zipcode,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,...,flg_missing_living_area,flg_missing_other_area,flg_missing_total_area,flg_missing_monthly_contrib,flg_missing_n_photos,flg_missing_n_photos_360,flg_missing_type_of_construction,flg_missing_other_indoor_space,flg_missing_located_on,flg_missing_own_ground
0,1,250,1930,3043,5,4,0,130,0.0,0,...,0,1,1,1,0,1,0,1,1,0
1,2,100,1956,3081,0,0,5,0,0.0,0,...,1,1,1,1,1,1,0,1,1,1
2,3,300,0,3016,4,3,6,182,34.0,0,...,0,0,1,0,0,0,0,1,0,1
3,4,125,1965,3076,3,2,0,85,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4,5,250,1996,3071,3,2,0,100,0.0,0,...,0,1,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,6106,300,2003,3061,5,3,0,146,3.0,0,...,0,0,1,1,0,1,0,0,1,0
4884,6107,125,1981,3033,2,1,0,63,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4885,6108,125,1950,3028,3,2,0,52,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4886,6109,250,2002,3077,0,0,24,0,0.0,0,...,1,1,1,1,1,1,0,1,1,1
4887,6110,100,1937,3028,3,2,0,83,0.0,0,...,0,1,1,0,0,1,0,1,0,0

In [24]:
df_test

,id,year,zipcode,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,monthly_contrib,...,flg_missing_living_area,flg_missing_other_area,flg_missing_total_area,flg_missing_monthly_contrib,flg_missing_n_photos,flg_missing_n_photos_360,flg_missing_type_of_construction,flg_missing_other_indoor_space,flg_missing_located_on,flg_missing_own_ground
0,5554,1935,3039,3,2,0,78,0,0,131,...,0,1,1,0,0,1,0,1,0,0
1,2945,1981,3014,2,1,16,75,4,0,152,...,0,0,1,0,0,1,0,1,0,0
2,1546,1939,3039,4,3,3,93,11,0,99,...,0,0,1,0,0,1,0,1,0,1
3,4449,1969,3068,5,4,8,104,20,0,0,...,0,0,1,1,0,1,0,0,1,0
4,1012,2016,3053,5,4,24,219,0,0,0,...,0,1,1,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,5700,1950,3082,5,3,0,100,8,0,0,...,0,0,1,1,0,1,0,1,0,0
1218,3259,1996,3073,3,2,24,70,4,0,0,...,0,0,1,1,0,1,0,1,1,1
1219,3446,1989,3079,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
1220,4175,1956,3086,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
1221,3562,1950,3028,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1

In [25]:
fsel = FeatureSelector(verbose=1)

In [26]:
fsel.fit(df.loc[:,numeric_columns], df.iloc[:,1])

[featsel] Scaling data...done.
[featsel] Feature selection run 1/5
[featsel] Feature selection run 2/5
[featsel] Feature selection run 3/5
[featsel] Feature selection run 4/5
[featsel] Feature selection run 5/5
[featsel] 23 features after 5 feature selection runs
[featsel] 20 features after correlation filtering
[featsel] 18 features after noise filtering

FeatureSelector(verbose=1)

In [27]:
df_new_train = fsel.transform(df.loc[:,numeric_columns])

In [28]:
df_new_train = df_new_train.join(df.loc[:,others])

In [29]:
df_new_train

,year,n_photos,located_on,n_weeks_old,living_area,monthly_contrib,flg_missing_located_on,flg_missing_own_ground,flg_missing_other_area,flg_missing_living_area,...,flg_missing_other_indoor_space,flg_missing_type_of_construction,bedrooms,flg_missing_n_photos,flg_missing_total_rooms,id,price_category,zipcode,type_of_construction,energy_label
0,1930.0,14.0,0.0,0.0,130.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1,250,3043,Bestaande bouw,E
1,1956.0,0.0,0.0,5.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,2,100,3081,Bestaande bouw,G
2,0.0,37.0,6.0,6.0,182.0,391.0,0.0,1.0,0.0,0.0,...,1.0,0.0,3.0,0.0,0.0,3,300,3016,Bestaande bouw,B
3,1965.0,16.0,1.0,0.0,85.0,125.0,0.0,0.0,1.0,0.0,...,1.0,0.0,2.0,0.0,0.0,4,125,3076,Bestaande bouw,F
4,1996.0,19.0,10.0,0.0,100.0,141.0,0.0,0.0,1.0,0.0,...,1.0,0.0,2.0,0.0,0.0,5,250,3071,Bestaande bouw,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,2003.0,21.0,0.0,0.0,146.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,6106,300,3061,Bestaande bouw,B
4884,1981.0,12.0,1.0,0.0,63.0,209.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,6107,125,3033,Bestaande bouw,B
4885,1950.0,25.0,0.0,0.0,52.0,67.0,0.0,0.0,1.0,0.0,...,1.0,0.0,2.0,0.0,0.0,6108,125,3028,Bestaande bouw,D
4886,2002.0,0.0,0.0,24.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,6109,250,3077,Bestaande bouw,B
4887,1937.0,21.0,2.0,0.0,83.0,80.0,0.0,0.0,1.0,0.0,...,1.0,0.0,2.0,0.0,0.0,6110,100,3028,Bestaande bouw,D

In [34]:
others.remove('price_category')

In [30]:
df_test_new = fsel.transform(df_test.loc[:,numeric_columns])

In [32]:
df_test_new

,year,n_photos,located_on,n_weeks_old,living_area,monthly_contrib,flg_missing_located_on,flg_missing_own_ground,flg_missing_other_area,flg_missing_living_area,flg_missing_n_weeks_old,flg_missing_n_photos_360,flg_missing_monthly_contrib,flg_missing_other_indoor_space,flg_missing_type_of_construction,bedrooms,flg_missing_n_photos,flg_missing_total_rooms
0,1935,26,2,0,78,131,0,0,1,0,1,1,0,1,0,2,0,0
1,1981,15,1,16,75,152,0,0,0,0,0,1,0,1,0,1,0,0
2,1939,20,1,3,93,99,0,1,0,0,0,1,0,1,0,3,0,0
3,1969,26,0,8,104,0,1,0,0,0,0,1,1,0,0,4,0,0
4,2016,23,6,24,219,0,0,1,1,0,0,1,1,1,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,1950,24,2,0,100,0,0,0,0,0,1,1,1,1,0,3,0,0
1218,1996,14,0,24,70,0,1,1,0,0,0,1,1,1,0,2,0,0
1219,1989,0,0,24,0,0,1,1,1,1,0,1,1,1,0,0,1,1
1220,1956,0,0,24,0,0,1,1,1,1,0,1,1,1,0,0,1,1
1221,1950,0,0,24,0,0,1,1,1,1,0,1,1,1,0,0,1,1

In [35]:
df_test_new = df_test_new.join(df_test.loc[:,others])

In [36]:
df_test.loc[:,others]

        id zipcode type_of_construction energy_label
0     5554    3039       Bestaande bouw            n
1     2945    3014       Bestaande bouw            n
2     1546    3039       Bestaande bouw            E
3     4449    3068       Bestaande bouw            F
4     1012    3053            Nieuwbouw            A
...    ...     ...                  ...          ...
1217  5700    3082       Bestaande bouw            E
1218  3259    3073       Bestaande bouw            C
1219  3446    3079       Bestaande bouw            C
1220  4175    3086       Bestaande bouw            E
1221  3562    3028       Bestaande bouw            E

[1222 rows x 4 columns]

In [37]:
df_test_new

,year,n_photos,located_on,n_weeks_old,living_area,monthly_contrib,flg_missing_located_on,flg_missing_own_ground,flg_missing_other_area,flg_missing_living_area,...,flg_missing_monthly_contrib,flg_missing_other_indoor_space,flg_missing_type_of_construction,bedrooms,flg_missing_n_photos,flg_missing_total_rooms,id,zipcode,type_of_construction,energy_label
0,1935,26,2,0,78,131,0,0,1,0,...,0,1,0,2,0,0,5554,3039,Bestaande bouw,n
1,1981,15,1,16,75,152,0,0,0,0,...,0,1,0,1,0,0,2945,3014,Bestaande bouw,n
2,1939,20,1,3,93,99,0,1,0,0,...,0,1,0,3,0,0,1546,3039,Bestaande bouw,E
3,1969,26,0,8,104,0,1,0,0,0,...,1,0,0,4,0,0,4449,3068,Bestaande bouw,F
4,2016,23,6,24,219,0,0,1,1,0,...,1,1,0,4,0,0,1012,3053,Nieuwbouw,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,1950,24,2,0,100,0,0,0,0,0,...,1,1,0,3,0,0,5700,3082,Bestaande bouw,E
1218,1996,14,0,24,70,0,1,1,0,0,...,1,1,0,2,0,0,3259,3073,Bestaande bouw,C
1219,1989,0,0,24,0,0,1,1,1,1,...,1,1,0,0,1,1,3446,3079,Bestaande bouw,C
1220,1956,0,0,24,0,0,1,1,1,1,...,1,1,0,0,1,1,4175,3086,Bestaande bouw,E
1221,1950,0,0,24,0,0,1,1,1,1,...,1,1,0,0,1,1,3562,3028,Bestaande bouw,E