In [1]:
from autofeat import AutoFeatClassifier
import pandas as pd
import numpy as np

In [2]:
steps = 2

In [3]:
df_train = pd.read_csv("../Data/dt_realestate_train_2022.csv")
df_test = pd.read_csv("../Data/dt_realestate_test_2022.csv")

In [4]:
df_train.iloc[:,3] = df_train.iloc[:,3].astype(object)
df_test.iloc[:,2] = df_test.iloc[:,2].astype(object)

In [5]:
numeric_columns = df_train.select_dtypes(include=np.number).columns.tolist()
numeric_columns.remove('id')

In [6]:
others = [x for x in list(df_train.columns) if not x in numeric_columns or numeric_columns.remove(x)]

In [7]:
numeric_columns = df_train.select_dtypes(include=np.number).columns.tolist()
numeric_columns.remove('id')

In [8]:
df_train.loc[:,df_train.select_dtypes(include=np.number).columns.tolist()] = df_train.loc[:,df_train.select_dtypes(include=np.number).columns.tolist()].apply(pd.to_numeric, downcast='integer')
df_test.loc[:,df_test.select_dtypes(include=np.number).columns.tolist()] = df_test.loc[:,df_test.select_dtypes(include=np.number).columns.tolist()].apply(pd.to_numeric, downcast='integer')

In [9]:
clf = AutoFeatClassifier(verbose=1, feateng_steps=steps)

In [10]:
df_train

,id,price_category,year,zipcode,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,...,flg_missing_living_area,flg_missing_other_area,flg_missing_total_area,flg_missing_monthly_contrib,flg_missing_n_photos,flg_missing_n_photos_360,flg_missing_type_of_construction,flg_missing_other_indoor_space,flg_missing_located_on,flg_missing_own_ground
0,1,200K-300K,1930,3043,5,4,0,130,0.0,0,...,0,1,1,1,0,1,0,1,1,0
1,2,< 100K,1956,3081,0,0,5,0,0.0,0,...,1,1,1,1,1,1,0,1,1,1
2,3,> 300K,0,3016,4,3,6,182,34.0,0,...,0,0,1,0,0,0,0,1,0,1
3,4,100K-150K,1965,3076,3,2,0,85,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4,5,200K-300K,1996,3071,3,2,0,100,0.0,0,...,0,1,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,6106,> 300K,2003,3061,5,3,0,146,3.0,0,...,0,0,1,1,0,1,0,0,1,0
4884,6107,100K-150K,1981,3033,2,1,0,63,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4885,6108,100K-150K,1950,3028,3,2,0,52,0.0,0,...,0,1,1,0,0,1,0,1,0,0
4886,6109,200K-300K,2002,3077,0,0,24,0,0.0,0,...,1,1,1,1,1,1,0,1,1,1
4887,6110,< 100K,1937,3028,3,2,0,83,0.0,0,...,0,1,1,0,0,1,0,1,0,0

In [11]:
df_test

,id,year,zipcode,total_rooms,bedrooms,n_weeks_old,living_area,other_area,total_area,monthly_contrib,...,flg_missing_living_area,flg_missing_other_area,flg_missing_total_area,flg_missing_monthly_contrib,flg_missing_n_photos,flg_missing_n_photos_360,flg_missing_type_of_construction,flg_missing_other_indoor_space,flg_missing_located_on,flg_missing_own_ground
0,5554,1935,3039,3,2,0,78,0,0,131,...,0,1,1,0,0,1,0,1,0,0
1,2945,1981,3014,2,1,16,75,4,0,152,...,0,0,1,0,0,1,0,1,0,0
2,1546,1939,3039,4,3,3,93,11,0,99,...,0,0,1,0,0,1,0,1,0,1
3,4449,1969,3068,5,4,8,104,20,0,0,...,0,0,1,1,0,1,0,0,1,0
4,1012,2016,3053,5,4,24,219,0,0,0,...,0,1,1,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,5700,1950,3082,5,3,0,100,8,0,0,...,0,0,1,1,0,1,0,1,0,0
1218,3259,1996,3073,3,2,24,70,4,0,0,...,0,0,1,1,0,1,0,1,1,1
1219,3446,1989,3079,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
1220,4175,1956,3086,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1
1221,3562,1950,3028,0,0,24,0,0,0,0,...,1,1,1,1,1,1,0,1,1,1

In [ ]:
df_train_new = clf.fit_transform(df_train.loc[:,numeric_columns], df_train.iloc[:,1])

[AutoFeat] The 2 step feature engineering process could generate up to 17955 features.
[AutoFeat] With 4888 data points this new feature matrix would use about 0.35 gb of space.
[feateng] Step 1: transformation of original features
[feateng] Generated 36 transformed features from 27 original features - done.
[feateng] Step 2: first combination of features
[feateng] Generated 1795 feature combinations from 1953 original feature tuples - done.
[feateng] Generated altogether 1989 new features in 2 steps
[feateng] Removing correlated features, as well as additions at the highest level
[feateng] Generated a total of 1439 additional features
[featsel] Scaling data...done.
[featsel] Feature selection run 1/5

In [ ]:
df_train_new = df_train_new.join(df_train.loc[:,others])

In [ ]:
others.remove('price_category')

In [ ]:
df_test_new = clf.transform(df_test.loc[:,numeric_columns])

In [ ]:
df_test_new = df_test_new.join(df_test.loc[:,others])

In [ ]:
df_train_new

In [ ]:
df_test_new

In [ ]:
df_train_new.to_csv(f"../Data/dt_realestate_train_2022_autofeat_{steps}.csv", index=False)
df_test_new.to_csv(f"../Data/dt_realestate_test_2022_autofeat_{steps}.csv", index=False)